
<!-- Valores -->
<section class="px-2 py-8 md:px-22 mx-auto block">
    <h2 class="text-white mx-auto text-center text-6xl text-gray-200 font-light md:text-6xl mb-8 relative ">Nosotros</h2>
    <div class="w-full flex flex-row justify-center flex-wrap md:space-x-4 space-x-2 md:space-y-0 mx-auto ">
      
        <div class="md:w-[28%] w-[30%]  p-2 md:p-8" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%); box-shadow: 0px 0.25px 0px rgba(255, 255, 255, 0.50) inset; border-radius: 10px;">
            <div class="">

                <img src="/src/images/iconos/creatividad.svg" class="md:w-16 w-24"alt="">
                <div class="text-light-color text-1xl md:text-3xl mb-4">Innovación y creatividad</div>
                <div class="text-gray-200 text-lg hidden md:flex">
                    YVEN Adopta la innovación y la creatividad en todos los aspectos, desde el
                    desarrollo de nuevos conceptos hasta la ejecuc.
                </div>
            </div>
        </div>
        <div class="md:w-[28%] w-[30%]  p-2 md:p-8" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%); box-shadow: 0px 0.25px 0px rgba(255, 255, 255, 0.50) inset; border-radius: 10px;">
            <div class="">
                <img src="/src/images/iconos/social.svg" class="md:w-16 w-24"alt="">
                <div class="text-light-color text-1xl md:text-3xl mb-4">Responsabilidad social y sostenibilidad</div>
                <div class="text-gray-200 text-lg hidden md:flex">
                    Participamos activamente en iniciativas sociales y ambientales que contribuyen al bienestar de
                    la comunidad y del planeta.
                </div>
            </div>
        </div>
        <div class="md:w-[28%] w-[30%] p-2 md:p-8" style="background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%); box-shadow: 0px 0.25px 0px rgba(255, 255, 255, 0.50) inset; border-radius: 10px;">
            <div class="">
                <img src="/src/images/iconos/enfoque.svg" class="md:w-16 w-24"alt="">
                <div class="text-light-color text-1xl md:text-3xl mb-4">Enfoque en el cliente</div>
                <div class="text-gray-200 text-lg hidden md:flex">
                    PriorizaMOS las necesidades y la satisfacción de sus clientes durante todo el proceso de
                    planificación y ejecución del evento. 
                </div>
            </div>
        </div>
    </div>
</section>