<div class="py-12 xl:py-48">
<nav class="flex justify-center space-x-1 pl-2 pr-2" aria-label="Tabs" role="tablist">
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white md:px-6 px-2 py-2 md:py-2.5inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none  active" id="pills-with-brand-color-item-1" data-hs-tab="#pills-with-brand-color-1" aria-controls="pills-with-brand-color-1" role="tab">
      Destacados
    </button>
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white md:px-6 px-2 py-2 md:py-2.5inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none " id="pills-with-brand-color-item-2" data-hs-tab="#pills-with-brand-color-2" aria-controls="pills-with-brand-color-2" role="tab">
      Celebraciones
    </button>
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white md:px-6 px-2 py-2 md:py-2.5inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none " id="pills-with-brand-color-item-3" data-hs-tab="#pills-with-brand-color-3" aria-controls="pills-with-brand-color-3" role="tab">
      Eventos
    </button>
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white md:px-6 px-2 py-2 md:py-2.5inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none " id="pills-with-brand-color-item-4" data-hs-tab="#pills-with-brand-color-4" aria-controls="pills-with-brand-color-4" role="tab">
      Graduaciones
    </button>
  </nav>
  
  <div class="h-auto">
  
    <!-- start tab 1 -->
    <div id="pills-with-brand-color-1" role="tabpanel" aria-labelledby="pills-with-brand-color-item-1">
    <!-- Card Grid -->
  <div class="py-4 md:px-20 xl:px-32 grid  grid-cols-2 gap-3 sm:grid-cols-2 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
        <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full transition-transform duration-500 object-cover ease-in-out rounded-lg" src="/src/images/img-cards/evento_corporativo2.jpg" alt="Image Description">
      </div>
  
      <div class="pt-2">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Eventos Corporativos
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300 text-lg">
            123 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
      <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/cumpleaños.jpeg" alt="Image Description">
    </div>

    <div class="pt-2">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Cumpleaños
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300 text-lg">
          204 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
        <img class="group-hover:scale-105 h-[15rem] w-full 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/fiesta morada.jpeg" alt="Image Description">
      </div>
  
      <div class="pt-2">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Quinceaños
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300 text-lg">
            305 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
   <!-- Card -->
   <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
      <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/boda_2.jpg" alt="Image Description">
    </div>

    <div class="pt-2">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Boda
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300 text-lg">
          160 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  </div>
  <!-- End Card Grid -->
    
  
  </div>
    </div>
  <!-- start  tab 2-->
    <div id="pills-with-brand-color-2" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-2">
        <!-- Card Grid -->
  <div class="py-4 md:px-20 xl:px-32 grid  grid-cols-2 gap-3 sm:grid-cols-2 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
        <img class="group-hover:scale-105 h-[15rem] h-[15rem] 2xl:h-[20rem] w-full transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/celebraciones_2.jpg" alt="Image Description">
      </div>
  
      <div class="pt-2">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Cumple Joven
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300 text-lg">
            123 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
      <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/celebraciones_hallowen.jpg" alt="Image Description">
    </div>

    <div class="pt-2">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Hallowen
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300 text-lg">
          100 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
        <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/fiesta love.jpeg" alt="Image Description">
      </div>
  
      <div class="pt-2">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Fecha Especial
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300 text-lg">
            100 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
   <!-- Card -->
   <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
      <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/fiesta morada.jpeg" alt="Image Description">
    </div>

    <div class="pt-2">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Quinceaños
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300 text-lg">
          100 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  </div>
  <!-- End Card Grid -->
    
    </div>
    <!-- start tab 3-->
    <div id="pills-with-brand-color-3" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-3">
        <!-- Card Grid -->
  <div class="py-4 md:px-20 xl:px-32 grid  grid-cols-2 gap-3 sm:grid-cols-2 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
        <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/eventos_1.jpg" alt="Image Description">
      </div>
  
      <div class="pt-2">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Aniversarios
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300 text-lg">
            123 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
      <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/eventos_2.jpg" alt="Image Description">
    </div>

    <div class="pt-2">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Danzas
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300 text-lg">
          204 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
        <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/eventos_3.jpg" alt="Image Description">
      </div>
  
      <div class="pt-2">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Danzas Folkloricas
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300 text-lg">
            60 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
   <!-- Card -->
   <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-16 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
      <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/evento_corporativo2.jpg" alt="Image Description">
    </div>

    <div class="pt-2">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Eventos Corporativos
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300 text-lg">
          101 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  </div>
  <!-- End Card Grid -->
    
    </div>
    <!-- start tab 4-->
    <div id="pills-with-brand-color-4" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-4">
        <!-- Card Grid -->
  <div class="py-4 md:px-20 xl:px-32 grid  grid-cols-2 gap-3 sm:grid-cols-2 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
        <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/graduacion.jpg" alt="Image Description">
      </div>
  
      <div class="pt-2">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Graduaciones
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300 text-lg">
            204 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
      <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/graduaciones_2.jpg" alt="Image Description">
    </div>

    <div class="pt-2">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Graduaciones
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300 text-lg">
          204 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
        <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/graduaciones_3.jpg" alt="Image Description">
      </div>
  
      <div class="pt-2">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Graduación Escolar
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300 text-lg">
            305 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
   <!-- Card -->
   <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] 2xl:h-[20rem] overflow-hidden bg-gray-100 rounded-2xl">
      <img class="group-hover:scale-105 h-[15rem] 2xl:h-[20rem] w-full  transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/graduaciones_4.jpg" alt="Image Description">
    </div>

    <div class="pt-2">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        FIestas de Promoción
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300 text-lg">
          101 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  </div>
  <!-- End Card Grid -->
    </div>
