<div class="py-12 xl:py-24">
<nav class="flex justify-center space-x-1 pl-2 pr-2" aria-label="Tabs" role="tablist">
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white px-2 py-2 md:py-2.5 md:px-4 inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none  active" id="pills-with-brand-color-item-1" data-hs-tab="#pills-with-brand-color-1" aria-controls="pills-with-brand-color-1" role="tab">
      Destacados
    </button>
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white px-2 py-2 md:py-2.5 md:px-4 inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none " id="pills-with-brand-color-item-2" data-hs-tab="#pills-with-brand-color-2" aria-controls="pills-with-brand-color-2" role="tab">
      Entretenimiento
    </button>
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white px-2 py-2 md:py-2.5 md:px-4 inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none " id="pills-with-brand-color-item-3" data-hs-tab="#pills-with-brand-color-3" aria-controls="pills-with-brand-color-3" role="tab">
      Lugares
    </button>
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white px-2 py-2 md:py-2.5 md:px-4 inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none " id="pills-with-brand-color-item-4" data-hs-tab="#pills-with-brand-color-4" aria-controls="pills-with-brand-color-4" role="tab">
      Catering
    </button>
  </nav>
  
  <div class="m-2 h-auto">
    <!-- start tab 1 -->
    <div id="pills-with-brand-color-1" role="tabpanel" aria-labelledby="pills-with-brand-color-item-1">
    <!-- Card Grid -->
  <div class="py-4 md:px-20 xl:px-32 grid  grid-cols-2 gap-3 sm:grid-cols-2 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image Description">
      </div>
  
      <div class="pt-3">
        <h3 class="relative inline-block font-light text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          eYoga
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300">
            204 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="https://images.unsplash.com/photo-1575052814086-f385e2e2ad1b?q=80&w=3540&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-light text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        eYoga
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300">
          204 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="https://images.unsplash.com/photo-1649999920973-ab6bfd0c0017?q=80&w=3542&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image Description">
      </div>
  
      <div class="pt-3">
        <h3 class="relative inline-block font-light text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Day Spa
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300">
            305 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
   <!-- Card -->
   <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="https://images.unsplash.com/photo-1649999920973-ab6bfd0c0017?q=80&w=3542&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-light text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Day Spa
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300">
          305 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  </div>
  <!-- End Card Grid -->
    
  
  </div>
    </div>
  <!-- start  tab 2-->
    <div id="pills-with-brand-color-2" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-2">
      <p class="text-gray-200 dark:text-neutral-400">
        This is the <em class="font-semibold text-gray-800 dark:text-neutral-200">second</em> item's tab body.
      </p>
    </div>
    <!-- start tab 3-->
    <div id="pills-with-brand-color-3" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-3">
      <p class="text-gray-200 dark:text-neutral-400">
        This is the <em class="font-semibold text-gray-800 dark:text-neutral-200">third</em> item's tab body.
      </p>
    </div>
    <!-- start tab 4-->
    <div id="pills-with-brand-color-4" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-4">
      <p class="text-gray-200 dark:text-neutral-400">
        This is the <em class="font-semibold text-gray-800 dark:text-neutral-200">fourth</em> item's tab body.
      </p>
    </div>
    <a href="${href}" class="mx-auto flex justify-center">
        <button
          class="text-white bg-transparent border border-gray-300 mt-6   hover:bg-third hover:border-third font-light rounded-lg text-[16px] px-8 py-2 text-center mb-2">
          Ver más
        </button>
      </a>
  </div>
</div>