<div class="py-12 xl:py-48">
<nav class="flex justify-center space-x-1 pl-2 pr-2" aria-label="Tabs" role="tablist">
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white md:px-6 px-2 py-2 md:py-2.5inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none  active" id="pills-with-brand-color-item-1" data-hs-tab="#pills-with-brand-color-1" aria-controls="pills-with-brand-color-1" role="tab">
      Destacados
    </button>
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white md:px-6 px-2 py-2 md:py-2.5inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none " id="pills-with-brand-color-item-2" data-hs-tab="#pills-with-brand-color-2" aria-controls="pills-with-brand-color-2" role="tab">
      Celebraciones
    </button>
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white md:px-6 px-2 py-2 md:py-2.5inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none " id="pills-with-brand-color-item-3" data-hs-tab="#pills-with-brand-color-3" aria-controls="pills-with-brand-color-3" role="tab">
      Eventos
    </button>
    <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white md:px-6 px-2 py-2 md:py-2.5inline-flex items-center gap-x-2 bg-transparent md:text-[22px] sm:text-[18px] text-[16px] font-light text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none " id="pills-with-brand-color-item-4" data-hs-tab="#pills-with-brand-color-4" aria-controls="pills-with-brand-color-4" role="tab">
      Graduaciones
    </button>
  </nav>
  
  <div class="h-auto">
  
    <!-- start tab 1 -->
    <div id="pills-with-brand-color-1" role="tabpanel" aria-labelledby="pills-with-brand-color-item-1">
    <!-- Card Grid -->
  <div class="py-4 md:px-20 xl:px-32 grid  grid-cols-2 gap-3 sm:grid-cols-2 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/corporativo.jpeg" alt="Image Description">
      </div>
  
      <div class="pt-3">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Evento coorporativo
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300">
            123 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/cumpleaños.jpeg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Cumpleaños
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300">
          204 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/fiesta morada.jpeg" alt="Image Description">
      </div>
  
      <div class="pt-3">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Quinceaños
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300">
            305 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
   <!-- Card -->
   <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/despedida-de-soltera.jpeg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Despedida de soltera
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300">
          101 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  </div>
  <!-- End Card Grid -->
    
  
  </div>
    </div>
  <!-- start  tab 2-->
    <div id="pills-with-brand-color-2" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-2">
        <!-- Card Grid -->
  <div class="py-4 md:px-20 xl:px-32 grid  grid-cols-2 gap-3 sm:grid-cols-2 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/corporativo.jpeg" alt="Image Description">
      </div>
  
      <div class="pt-3">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Evento coorporativo
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300">
            123 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/cumpleaños.jpeg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Cumpleaños
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300">
          204 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/fiesta morada.jpeg" alt="Image Description">
      </div>
  
      <div class="pt-3">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Quinceaños
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300">
            305 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
   <!-- Card -->
   <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/despedida-de-soltera.jpeg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Despedida de soltera
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300">
          101 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  </div>
  <!-- End Card Grid -->
    
    </div>
    <!-- start tab 3-->
    <div id="pills-with-brand-color-3" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-3">
        <!-- Card Grid -->
  <div class="py-4 md:px-20 xl:px-32 grid  grid-cols-2 gap-3 sm:grid-cols-2 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/corporativo.jpeg" alt="Image Description">
      </div>
  
      <div class="pt-3">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Evento coorporativo
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300">
            123 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/cumpleaños.jpeg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Cumpleaños
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300">
          204 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/fiesta morada.jpeg" alt="Image Description">
      </div>
  
      <div class="pt-3">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Quinceaños
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300">
            305 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
   <!-- Card -->
   <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/despedida-de-soltera.jpeg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Despedida de soltera
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300">
          101 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  </div>
  <!-- End Card Grid -->
    
    </div>
    <!-- start tab 4-->
    <div id="pills-with-brand-color-4" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-4">
        <!-- Card Grid -->
  <div class="py-4 md:px-20 xl:px-32 grid  grid-cols-2 gap-3 sm:grid-cols-2 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/corporativo.jpeg" alt="Image Description">
      </div>
  
      <div class="pt-3">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Evento coorporativo
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300">
            123 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/cumpleaños.jpeg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Cumpleaños
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300">
          204 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  
    <!-- Card -->
    <a class="group block" href="#">
      <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
        <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/fiesta morada.jpeg" alt="Image Description">
      </div>
  
      <div class="pt-3">
        <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
          Quinceaños
        </h3>
        <div class="mt-2 flex flex-wrap gap-2">
          <span class="text-gray-300">
            305 proveedores
          </span>
        </div>
      </div>
    </a>
    <!-- End Card -->
  
   <!-- Card -->
   <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 h-[15rem] overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/src/images/img-cards/despedida-de-soltera.jpeg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-light text-2xl md:text-3xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-third before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Despedida de soltera
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="text-gray-300">
          101 proveedores
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->
  </div>
  <!-- End Card Grid -->
    
    </div>
    <a href="${href}" class="mx-auto flex justify-center">
        <button
          class="text-white bg-transparent border border-gray-300 mt-6   hover:bg-third hover:border-third font-light rounded-lg text-[16px] px-8 py-2 text-center mb-2">
          Ver más
        </button>
      </a>
  </div>
</div>