<section class="z-10 flex flex-row w-full xl:pt-36 md:pt-32  sm:justify-center mb-36">
   
    <section class="menu-social-media fixed inset-y-0  left-0 flex items-center md:flex hidden">
        <div class="position-media absolute bg-dark-transparent rounded-r-lg flex flex-col w-12 justify-start shadow-sm"
            role="group">
            <button type="button"
                class="px-4 py-4 text-sm rounded-tr-lg font-medium text-gray-900  hover:bg-primary hover:text-blue-700 hover:rounded-tr-lg focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700  border-gray-700 text-white hover:text-white  focus:ring-blue-500 focus:text-white">
                <img src="../src/images/iconos/youtube.png" class=" w-16" alt="">
            </button>
            <button type="button"
                class="px-4 py-4 text-sm font-medium text-gray-900   hover:bg-primary hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700  border-gray-700 text-white hover:text-white  focus:ring-blue-500 focus:text-white">
                <img src="../src/images/iconos/equis.png" class=" w-16" alt="">
            </button>
            <button type="button"
                class="px-4 py-4 text-sm font-medium text-gray-900  hover:bg-primary hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700  border-gray-700 text-white hover:text-white  focus:ring-blue-500 focus:text-white">
                <img src="../src/images/iconos/instagram.png" class=" w-16" alt="">
            </button>
            <button type="button"
                class="px-4 py-4 text-sm font-medium text-gray-900 rounded-br-lg hover:bg-primary hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700  hover:rounded-br-lg border-gray-700 text-white hover:text-white  focus:ring-blue-500 focus:text-white">
                <img src="../src/images/iconos/facebook.png" class=" w-16" alt="">
            </button>
        </div>
    </section>

    <div class="w-full">
        <section class="container-text-primary  mx-auto xl:mx-12 lg:mx-12 md:mx-6">
            <div class="place-content-center text-center mt-48 pt-2 md:pt-28 w-4/5 mx-auto">

               
                    <button type="button" class="z-10 mx-auto text-light-color hover:text-white border border-gray-300 hover:bg-secondary focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mb-6 flex items-center space-x-2">
                      <!-- Icon (Using SVG) -->
                      
                      <!-- Text -->
                      <span class="text-md ">Empoderado con IA</span>
                      <img src="../src/images/iconos/ia.png" class=" h-5 w-5  hover:border-secondary" viewBox="0 0 20 20" >
                          
                    </img>
                  </button>
                  <img src="../src/images/svg/main-text.svg" class="w-full md:w-5/6 mx-auto block mb-6 hidden md:block " alt="Imagen de escritorio">
                  <img src="../src/images/svg/main-text-mobile.svg" class=" w-full md:w-5/6 mx-auto block mb-6 md:hidden" alt="Imagen móvil">
                  

                <div class="w-full md:w-1/2 mx-auto z-10">
                    <p
                        class="z-10 font-regular text-[20px] md:text-[28px] pt-10 pb-4 text-gray-300 xl:text-4xl">
                        Descubre la plataforma que conecta todos los servicios que necesitas para que tu evento sea un éxito. Desde proveedores hasta herramientas de gestión, Yven te ofrece todo en un solo lugar.
                    </p>
                    
                </div>
                <div class="flex flex-row space-x-3 justify-center">
                    <a href="dashboard.html" class="">
                        <button
                          class="text-white bg-transparent border border-gray-300 mt-12   hover:bg-secondary hover:border-secondary font-light rounded-full text-[18px] md:text-[22px] px-6 py-2 text-center mb-2 md:px-12 md:py-2.5">
                          Contactanos
                        </button>
                      </a>
                      <a href="signup.html" class="">
                        <button
                          class="text-primary bg-white hover:bg-transparent hover:text-light-color hover:border hover:border-gray-200 mt-12 px-6 py-2 font-medium rounded-full text-[18px] md:text-[22px] md:px-12 md:py-2.5 text-center mb-2">
                          Prueba gratis
                        </button>
                      </a>
                    </div>
                
                
            </div>
        </section>
    </div>
</section>