body {
  background-image: url('/src/images/background/dashboard.png')!important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  background-attachment: fixed; 
  font-family:'Montserrat', Arial, Helvetica, sans-serif; 
}