@tailwind base;
@tailwind components;
@tailwind utilities;


 @font-face {
    font-family: 'Montserrat';
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

  }
body {
    background-image: url('/src/images/background/Hero-Stack.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    /* background-attachment: fixed;  */
  
}


p{
  font-weight: 200;
 
}


/* About us */
.title-section-nosotros {
  position: relative;
}

.background-svg {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
  z-index: 0;
  object-fit: cover;
}

.val-noso {
  position: relative;
  z-index: 10;
  font-size: 56px;
  font-weight: 300;    
  font-weight: 400;
}

.card-nosotros {
  padding: 30px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 0.25px 0px rgba(255, 255, 255, 0.50) inset;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  margin-bottom: 16px; /* Add margin bottom to separate cards on small screens */
}

.card-nosotros img {
  width: 70px;
  height: 70px;
}

.card-content-nosotros {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}


.card-footer {
  padding-top: 8px;
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
}

.card-footer .view-tokens {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.card-footer .view-tokens div {
  color: white;
  font-size: 8px;
  font-weight: 500;
  text-decoration: underline;
  line-height: 12px;
  word-wrap: break-word;
}

/* Media Queries for Responsive Design */
@media (max-width: 750px) {
  .menu-social-media{
    display: none;
  }
}
@media (max-width: 1024px) {
  .card-nosotros {
      width: 100%; /* Full width for smaller screens */
  }
}

@media (min-width: 1024px) {
  .card-nosotros {
      width: calc(50% - 1.5rem); /* Half width with spacing */
  }
}

@media (min-width: 1280px) {
  .section-valores .card-nosotros {
      width: calc(33.3333% - 1.5rem); /* One third width with spacing */
  }

}

/*TESTIMONIALS USER */
.slider-container-resenas {
  position: relative;
  overflow: hidden;
  width: 85%;
  margin: 0 auto;
}

.slider-resenas {
  display: flex;
  transition: transform 0.5s ease;
}

.card-resenas {  
  flex: 0 0 calc(100% / 1);
  min-width: calc(100% / 1);
  border-radius: 5px;
  padding: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1368px) {
  .card-resenas {
    flex: 0 0 calc(100% / 1); /* Muestra 3 cartas a la vez */
    min-width: calc(100% / 1);
  }
}

@media screen and (max-width: 576px) {
  .card-resenas {
    flex: 0 0 calc(100% / 1); /* Muestra 2 cartas a la vez */
    min-width: calc(100% / 1);
  }
}

