<aside :class="sidebarToggle ? 'translate-x-0' : '-translate-x-full'"
  class="absolute left-0 top-0 z-9999 flex h-screen w-72.5 flex-col backdrop-blur-md overflow-y-hidden bg-dark-transparent duration-300 ease-linear dark:bg-boxdark lg:static lg:translate-x-0"
  @click.outside="sidebarToggle = false">
  <!-- SIDEBAR HEADER -->
  <div class="flex items-center justify-between gap-2 px-7 py-5.5 lg:py-6.5">
    <a href="index.html">
      <img src="images/Yven-completo.png" alt="Logo" class="w-48" />
    </a>

    <button class="block lg:hidden" @click.stop="sidebarToggle = !sidebarToggle">
      <i class="fa-solid fa-chevron-left text-2xl text-light-color"></i>
    </button>
  </div>
  <!-- SIDEBAR HEADER -->

 
  <div class="no-scrollbar flex flex-col overflow-y-auto duration-300 ease-linear">
    <!-- Sidebar Menu -->
    <nav class="mt-5 px-4 py-4 lg:mt-9 lg:px-6">
      <!-- Menu Group -->
      <ul class="mb-6 flex flex-col gap-1.5">
        <!-- Menu Item Dashboard -->
        <li>
          <a id="dashboard" class="group relative flex items-center gap-2.5 rounded-lg px-4 py-3 font-medium text-light-color duration-300 ease-in-out hover:bg-third" href="dashboard.html">
            <i class="fa-solid fa-house text-1xl"></i> Home
          </a>
        </li>
        <!-- Menu Item Proveedor -->
        <li>
          <a id="proveedor" class="group relative flex items-center gap-2.5 rounded-lg px-4 py-3 font-medium text-light-color duration-300 ease-in-out hover:bg-third" href="proveedor.html">
            <i class="fa-solid fa-users text-1xl"></i> Proveedores
          </a>
        </li>
        <!-- Menu Item Categories -->
        <li>
          <a id="categories" class="group relative flex items-center gap-2.5 rounded-lg px-4 py-3 font-medium text-light-color duration-300 ease-in-out hover:bg-third" href="categories.html">
            <i class="fa-solid fa-tag text-1xl"></i> Categorias
          </a>
        </li>
        <!-- Menu Item Profile -->
        <li>
          <a id="profile" class="group relative flex items-center gap-2.5 rounded-lg px-4 py-3 font-medium text-light-color duration-300 ease-in-out hover:bg-third" href="profile.html">
            <i class="fa-solid fa-user text-1xl"></i> Perfil
          </a>
        </li>
        <!-- Menu Item Settings -->
        <li>
          <a id="settings" class="group relative flex items-center gap-2.5 rounded-lg px-4 py-3 font-medium text-light-color duration-300 ease-in-out hover:bg-third" href="settings.html">
            <i class="fa-solid fa-gears text-1xl"></i> Configuración
          </a>
        </li>
      </ul>
    </nav>
    <!-- Sidebar Menu -->

    <!-- Promo Box -->
    <div
      class="mx-auto my-10 w-full max-w-60 rounded-sm  bg-purple-800 px-4 py-6 text-center shadow-default">
      <h3 class="mb-1 font-semibold text-2xl text-white">Yven Pro</h3>
      <p class="mb-4 text-md text-gray">Compara a más de 8.000 proveedores</p>
      <a href="comparar-proveedores.html" id="comparar-proveedores" class="flex items-center justify-center rounded-md bg-primary p-2 text-white hover:bg-opacity-95 hover:bg-third">
        Comparar ahora
      </a>
    </div>
    <!-- Promo Box -->
  </div>

      <a id="settings" class="group absolute bottom-6 flex items-center ml-6 text-center text-lg gap-2 hover:skew-y-3 rounded-lg px-12 py-3 font-medium text-white duration-300 ease-in-out hover:bg-red-800" href="index.html">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M8.25 9V5.25A2.25 2.25 0 0 1 10.5 3h6a2.25 2.25 0 0 1 2.25 2.25v13.5A2.25 2.25 0 0 1 16.5 21h-6a2.25 2.25 0 0 1-2.25-2.25V15m-3 0-3-3m0 0 3-3m-3 3H15" />
        </svg>
        Cerrar Sesión
      </a>
  
</aside>



<script>
  document.addEventListener('DOMContentLoaded', () => {
    const path = window.location.pathname;
    const menuItems = {
      '/dashboard.html': 'dashboard',
      '/proveedor.html': 'proveedor',
      '/categories.html': 'categories',
      '/profile.html': 'profile',
      '/settings.html': 'settings',
      '/comparar-proveedores.html': 'comparar-proveedores'
    };

    const currentPage = menuItems[path];
    if (currentPage) {
      document.getElementById(currentPage).classList.add('bg-third');
    }
  });
</script>