<nav class="flex space-x-1 pl-2 pr-2" aria-label="Tabs" role="tablist">
  <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white  py-2 px-4 inline-flex items-center gap-x-2 bg-transparent text-lg font-medium text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-neutral-300 active" id="pills-with-brand-color-item-1" data-hs-tab="#pills-with-brand-color-1" aria-controls="pills-with-brand-color-1" role="tab">
    Destacados
  </button>
  <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white  py-2 px-4 inline-flex items-center gap-x-2 bg-transparent text-lg font-medium text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-neutral-300" id="pills-with-brand-color-item-2" data-hs-tab="#pills-with-brand-color-2" aria-controls="pills-with-brand-color-2" role="tab">
    Entretenimiento
  </button>
  <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white  py-2 px-4 inline-flex items-center gap-x-2 bg-transparent text-lg font-medium text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-neutral-300" id="pills-with-brand-color-item-3" data-hs-tab="#pills-with-brand-color-3" aria-controls="pills-with-brand-color-3" role="tab">
    Locales para eventos 
  </button>
  <button type="button" class="hs-tab-active:bg-third hs-tab-active:text-white hs-tab-active:hover:text-white  py-2 px-4 inline-flex items-center gap-x-2 bg-transparent text-lg font-medium text-center text-gray-200 hover:text-third rounded-lg disabled:opacity-50 disabled:pointer-events-none dark:text-neutral-400 dark:hover:text-neutral-300" id="pills-with-brand-color-item-4" data-hs-tab="#pills-with-brand-color-4" aria-controls="pills-with-brand-color-4" role="tab">
    Catering
  </button>
</nav>

<div class="m-2">
  <!-- strart tab 1 -->
  <div id="pills-with-brand-color-1" role="tabpanel" aria-labelledby="pills-with-brand-color-item-1">
  <!-- Card Grid -->
<div class="py-4 grid  grid-cols-2 gap-3 sm:grid-cols-3 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/fiesta_peque.jpg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Sweet Celebrations
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="py-1.5 px-3 text-gray-200 text-lg sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
          Deleítate con los exquisitos sabores de nuestras tortas y bocaditos personalizados para cualquier ocasión especial.
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->

  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/flores.jpg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Floral Elegance
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
          Los mejores arreglos florales para crear ambientes únicos e innolvidables para tus eventos.
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->

  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/fotos.jpg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Save Memories
      </h3>
      <div class="mt-2 flex flex-wrap gap-2">
        <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
          Inmortalizamos los momentos más preciados de tu evento para que duren toda la vida. Calidad y creatividad en cada toma.
        </span>
      </div>
    </div>
  </a>
  <!-- End Card -->

  <!-- Card -->
  <a class="group block" href="#">
    <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
      <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/makeup.jpg" alt="Image Description">
    </div>

    <div class="pt-3">
      <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
        Glamour Makeup
      </h3>

      <div class="mt-2 flex flex-wrap gap-2">
        <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
         Realza tu belleza con nuestro servicio de maquillaje y peinado. Luce radiante en tu gran día.
        </span>
        
      </div>
    </div>
  </a>
  <!-- End Card -->
</div>
<!-- End Card Grid -->
  

</div>
  </div>
<!-- strart  tab 2-->
  <div id="pills-with-brand-color-2" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-2">
    <div class="py-4 grid  grid-cols-2 gap-3 sm:grid-cols-3 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/dj.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            MusicBeats
          </h3>
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-lg sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
              Transforma tu evento con la mejor música y sonido. DJ con el mejor equipo para brindarte el mejor servicio.
            </span>
          </div>
        </div>
      </a>
      <!-- End Card -->
    
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/nina.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            Magic Kids Show
          </h3>
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
              Diversión garantizada con nuestros espectáculos interactivos para los más pequeños con nuestras animadoras y payasos.
            </span>
          </div>
        </div>
      </a>
      <!-- End Card -->
    
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/inflable.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            Jump High
          </h3>
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
              Inflables perfectos para tus eventos junto a personal especializado garantizando horas de diversión segura.
            </span>
          </div>
        </div>
      </a>
      <!-- End Card -->
    
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/show.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            CrazyParty
          </h3>
    
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
             Activa tus eventos con shows personalizados para grandes y chicos. Contamos con una amplia variedad de temáticas a elegir.
            </span>
            
          </div>
        </div>
      </a>
      <!-- End Card -->
    </div>
  </div>
  <!-- start tab 3-->
  <div id="pills-with-brand-color-3" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-3">
    <div class="py-4 grid  grid-cols-2 gap-3 sm:grid-cols-3 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/salon.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            Salon Los Incas
          </h3>
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-lg sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
              El espacio perfecto para celebrar tu evento. Elegancia y comidad en cada rincón.
            </span>
          </div>
        </div>
      </a>
      <!-- End Card -->
    
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/hacienda.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            Jardín Los Lirios
          </h3>
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
              Celebra al aire libre con nuestro amplio jardín, rodeado de naturaleza y la comodidad necesaria para vivir un momento mágico.
            </span>
          </div>
        </div>
      </a>
      <!-- End Card -->
    
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/salon2.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            La Esperanza
          </h3>
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
              Disfruta del ambiente rústico de nuesta hacienda. Espacios amplios y naturales para convertir tu celebración en un evento memorable.
            </span>
          </div>
        </div>
      </a>
      <!-- End Card -->
    
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/salon3.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            Hacienda El Camino
          </h3>
    
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
              El escenario perfecto para tus eventos con una belleza natural y una atención excepcional. Crea momentos innolvidables en este mágico lugar.
            </span>
            
          </div>
        </div>
      </a>
      <!-- End Card -->
    </div>
  </div>
  <!-- start tab 4-->
  <div id="pills-with-brand-color-4" class="hidden" role="tabpanel" aria-labelledby="pills-with-brand-color-item-4">
    <div class="py-4 grid  grid-cols-2 gap-3 sm:grid-cols-3 sm:gap-2 md:gap-4 lg:gap-4 lg:grid-cols-4">
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/criollo.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            Sabor Criollo
          </h3>
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-lg sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
             Los auténticos sabores criollos en nuestro buffet. Contamos con una amplia carta de platos tradicionales preparados con los mejores insumos.
            </span>
          </div>
        </div>
      </a>
      <!-- End Card -->
    
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/dulces.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            Delicias Gourmet
          </h3>
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
              Deleita tu paladar con los mejores bocaditos dulces y salados perfectos para cualquier ocasión.
            </span>
          </div>
        </div>
      </a>
      <!-- End Card -->
    
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/bar.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            MixologyTeam
          </h3>
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
              El mejor equipo de barman para brindarte los mejores sabores en cocteles innovadores y clásicos. Disfruta de nuestro servicio adicional de shows de preparación.
            </span>
          </div>
        </div>
      </a>
      <!-- End Card -->
    
      <!-- Card -->
      <a class="group block" href="#">
        <div class="aspect-w-16 aspect-h-12 overflow-hidden bg-gray-100 rounded-2xl dark:bg-neutral-800">
          <img class="group-hover:scale-105 transition-transform duration-500 ease-in-out object-cover rounded-2xl" src="/./src/images/dashboard/nino.jpg" alt="Image Description">
        </div>
    
        <div class="pt-3">
          <h3 class="relative inline-block font-medium text-2xl text-light-color before:absolute before:bottom-0.5 before:start-0 before:-z-[1] before:w-full before:h-1 before:bg-secondary before:transition before:origin-left before:scale-x-0 group-hover:before:scale-x-100 dark:text-white">
            Creative Bakery
          </h3>
    
          <div class="mt-2 flex flex-wrap gap-2">
            <span class="py-1.5 px-3 text-gray-200 text-xs sm:text-sm rounded-xl hover:bg-secondary hover:border-transparent">
             Tortas y bocaditos personalizados con diseños y sabores únicos. Elige tu temática, nosotros lo hacemos realidad.
            </span>
            
          </div>
        </div>
      </a>
      <!-- End Card -->
    </div>
  </div>
</div>